<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.Trip_BoardDao">
	<insert id="insertTripBoard" parameterType="Trip_Board">
		insert into trip_board values(0, #{trip_board_title}, #{member_id},
		#{member_nick},	#{trip_board_memo}, #{trip_board_period}, #{trip_board_recruit},
		0, 0, #{trip_board_bool}, now())
		<selectKey resultType="int" keyProperty="trip_board_num" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<update id="updateTripBoard" parameterType="Trip_Board">
	
	</update>
	
	<delete id="deleteTripBoard" parameterType="int">
	
	</delete>
	
	<select id="selectOneTripBoard" parameterType="int">
	
	</select>
	
	<select id="selectAllTripBoard">
	
	</select>
</mapper>